.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    display: flex;
    margin: 30px 0;
    gap: 10px;
}

.login__logo--image{
    color: #ff9f00;
}

.login__logo--title{
    color: black;
    margin: 0;
}

.login__container {
    width: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
    height: fit-content;
    border-radius: 4px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    width: 98%;
    background-color: white;
    margin-bottom: 10px;
    padding: 0 4px;
    border: 1px solid black;
    outline: none;
}


.login__container > form > p {
    margin-top: 15px;
    font-size: 12px;
}


.login__signInBtn {
    width: 100%;
    background: #f0c14b;
    border: 1px solid;
    padding: 10px 0px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.login__registerBtn {
    width: 100%;
    background: lightgrey;
    border: 1px solid;
    padding: 10px 0px;
    margin-top: 10px;
    border-color: lightgrey;
    color: #111;
}